/* color */
#color-ul > li{
    font-size: 24px;
    font-weight: bold;
}

#color-ul > li:nth-child(1){color : powderblue;}
#color-ul > li:nth-child(2){color : #b29aff;}
#color-ul > li:nth-child(3){color : rgb(153, 230, 169);}
#color-ul > li:nth-child(4){color : rgba(251, 0, 255, 0.29);}
#color-ul > li:nth-child(5){color : hsl(0, 100%, 83%);}
#color-ul > li:nth-child(6){color : hsla(34, 100%, 55%, 0.518);}

/* text-decoration */
#deco-ul > li:nth-child(1){text-decoration: underline;}
#deco-ul > li:nth-child(2){text-decoration: line-through;}
#deco-ul > li:nth-child(3){text-decoration: overline;}
#deco-ul > li:nth-child(4) > a{text-decoration: none; color: black;}

/* text-align */
#align-test > p:nth-child(1){text-align: left;}
#align-test > p:nth-child(2){text-align: right;}
#align-test > p:nth-child(3){text-align: center;}
#align-test > p:nth-child(4){text-align: justify;}
#align-test > p:nth-child(5){text-align: center;}

#align-test > p:nth-child(5) > span{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    background-color: gold;
}

/* line-height */
#line-test > p:first-child{line-height: 10px;}
#line-test > p:last-child{line-height: 30px;}

/* letter-spacing */
/* 음수 값을 지정해서 글자 사이의 간격을 줄일 때 많이 사용 */
#letter-test{letter-spacing: -1px;}